html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  /* background-color: burlywood; */
  background-color: rgb(233, 233, 233);
  /* height          : 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

@media only screen and (max-width: 600px) {
  body{
    background-color: black;
  }
}
@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  } */
}


::-webkit-scrollbar {
  width: 10px;
  opacity: 0;
  display: none;
}

::-webkit-scrollbar-track {
  background: #d1d1d194;
}

::-webkit-scrollbar-thumb {
  background   : rgba(255, 255, 255, 0.836);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {

  background: rgb(168, 168, 168);
}