.main {
  scroll-snap-type           : y mandatory;
  overflow-y                 : scroll;
  width                      : 100vw;
  height                     : 100vh;
  display                    : flex;
  flex-direction             : column;
  align-items                : center;
  /* height                  : 100vh; */
}
.navBar {
  position       : relative;
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 6.2vh;
  /* max-height  : 100%; */
  /* border      : 1px solid #eee; */

}

.videoContainer {
  position       : relative;
  margin-bottom : 35px;
}

.playState {
  position         : relative;
  top              : 40%;
  /* top           : 40%;
  left             : 40%; */
  color            : white;
  pointer-events   : none;
  user-select      : none;
}

/* .loading{
  text-align: center;
} */

.playState span .playIcon {
  filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
}

.playState span {
  position           : absolute;
  top                : -50%;
  left               : 40%;
  background-color   : rgb(0 0 0 / 43%);
  padding            : 0.5rem;
  /* right           :180px; */
  /* bottom          : 50%; */
  /* right           : 45%; */
  /* top             : 50%; */
  width              : 70px;
  /* transform       : translate(50%, -50%); */
  height             : 70px;
  display            : flex;
  justify-content    : center;
  align-items        : center;
  border-radius      : 50%;
  animation          : fadeout .1s linear 1 normal forwards;

}

@keyframes fadeout {
  0% {
    opacity            : 0;
    /* transform       : scale(.3); */
    /* transform-origin: center; */
  }

  100% {
    opacity            : 1;
    /* transform       : scale(1); */
    /* transform-origin: center; */
  }
}



.item {
  display             : block;
  /* width            : 400px; */
  width               : 410px;
  /* width            :100%; */
  scroll-snap-align   : start;
  /* background-color : black; */
  /* height           : 89.6vh; */
  /* height           : 100vh; */
  height              : 728px;
  max-width           : 100%;
  border-radius       : 20px;
  border              : 1px solid rgb(228 228 228);
  box-shadow          : 0px 0px 11px 0px rgb(0 0 0 / 8%);
  border:3px solid red !important;
  /* min-width        :500px; */
  /* min-height       :100vh; */
  /* width            :100%; */
  /* width            :100%; */
  /* aspect-ratio     : 1/1; */



}

@media only screen and (max-width: 600px) {
  .main {
        /* height :620px; */
    /* height:618px; */
    /* height:660px; */
    border          : none;
    /* user-select  : none; */
    /* margin       :0; */
    /* margin-bottom: 6.4rem; */
    height           : 86vh;
    /* height:700px; */
    
  }
.videoContainer{
    margin:0;
    /* height:625px; */
}  
  .item {
    scroll-snap-align   : center;
    scroll-snap-stop    : always;
    width               : 100%;
    height:625px;
    /* height: 667px; */

    /* height:50%; */
    /* height:660px; */

    /* height:640px; */
    /* height: 100vh; */
    /* height           : 92vh; */
    /* height           : 86vh;  */
    border-radius       : 0;
    border              : none;
    margin              : 0;
    box-shadow: none;
    /* outline          :3px solid red; */
  }

  /* .main{
    scroll-padding-top: 0;
  } */
}

/* .item:nth-child(odd) {
  background-color: red;
}

.item:nth-child(even) {
  background-color: green;
} */



.footer {
  display        : flex;
  flex           : 1;
  padding        : 2rem 0;
  border-top     : 1px solid #eaeaea;
  justify-content: center;
  align-items    : center;
}

.footer a {
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-grow      : 1;
}

.title a {
  color          : #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin     : 0;
  line-height: 1.15;
  font-size  : 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin     : 4rem 0;
  line-height: 1.5;
  font-size  : 1.5rem;
}

.code {
  background   : #fafafa;
  border-radius: 5px;
  padding      : 0.75rem;
  font-size    : 1.1rem;
  font-family  : Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display        : flex;
  align-items    : center;
  justify-content: center;
  flex-wrap      : wrap;
  max-width      : 800px;
}

.card {
  margin         : 1rem;
  padding        : 1.5rem;
  text-align     : left;
  color          : inherit;
  text-decoration: none;
  border         : 1px solid #eaeaea;
  border-radius  : 10px;
  transition     : color 0.15s ease, border-color 0.15s ease;
  max-width      : 300px;
}

.card:hover,
.card:focus,
.card:active {
  color       : #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin   : 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin     : 0;
  font-size  : 1.25rem;
  line-height: 1.5;
}

.logo {
  height     : 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width         : 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}